* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Open Sans";
  src: url("./../fonts/OpenSans-Regular.ttf"),
    url("./../fonts/OpenSans-Regular.woff"),
    url("./../fonts/OpenSans-Regular.woff2");
}

:root {
  position: relative;
  font-size: 62.5%;
  scroll-behavior: smooth;
  --fontBase: "Open Sans", sans-serif;
  --color1: #0e345b;
  --color2: #00aff0;
  --color3: #eeeeee;

  --white: #ffffff;
  --black: #000000;

  --color4: #dddddd;

  --transparent: transparent;

  --overlay: rgba(0, 0, 0, 0.5);
  --overlay1: #00000083;
  --headLine1: bold 5.5rem/7rem var(--fontBase);
  --headLine2: bold 4rem/5rem var(--fontBase);
  --headLine3: bold 3.2rem/3.5rem var(--fontBase);
  --headLine4: bold 2.4rem/3.4rem var(--fontBase);
  --headLine5: bold 2rem/2.6rem var(--fontBase);
  --body1: normal 1.8rem/2.7rem var(--fontBase);
  --body2: bold 1.8rem/2.7rem var(--fontBase);
  --body3: normal 1.4rem/2.4rem var(--fontBase);
  --body4: bold 1.4rem/2.4rem var(--fontBase);
  --button: bold 1.8rem/2.7rem var(--fontBase);
  --caption: normal 1.2rem/2.7rem var(--fontBase);
}

body {
  font: var(--body1);
  position: relative;
  background-color: var(--white);
  overflow-x: hidden;
}
main {
  padding-top: 60px;
}
.wrapperMain {
  max-width: 1366px;
  margin: auto;
}
hr {
  width: 50%;
  margin: 50px auto;
  border: var(--color1) 1px solid;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  color: var(--white);
  font: var(--button);
  padding: 10px;
  outline: none;
  border-radius: 10px;
  box-shadow: 1px 1px 4px var(--color1);

  border: solid var(--color2) 0.5px;
  background: var(--color2);
}
.button:hover {
  background: linear-gradient(var(--white), var(--color2));
}

.servicesContainer,
.faqsContainer,
.whyusContainer,
.instructionsContainer,
.formContainer {
  padding: 40px 20px;
}
.title {
  margin-bottom: 30px;
  text-align: center;
}
/*Header*/
header {
  background-color: var(--white);
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 20;
  display: flex;
  align-items: center;
}
.brand {
  width: 40%;
}
.brand a img {
  vertical-align: bottom;
  height: 60px;
}
.menu {
  height: 100%;
  width: 60%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

header .menu label {
  margin-top: 5px;
  padding-right: 30px;
  cursor: pointer;
}

.menuBotton {
  display: none;
}

.navContainer {
  position: absolute;
  top: 60px;
  right: -600px;
  transition: all 0.5s ease-out;
}

.menuContainer {
  height: 100vh;
  width: 50vw;
  background-color: var(--white);
}

.menuDropdown {
  height: 100vh;
  background-color: var(--white);
}

.menuItem {
  font-size: 1.7rem;
  line-height: 7rem;
  padding: 0 0 0 30px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menuLink {
  color: var(--black);
  transition: all 0.5s ease-in-out;
}

.menuItem:hover {
  box-shadow: 768px 0 8px var(--color1) inset;
  color: var(--white);
}

.menuItem:hover > .menuLink {
  color: var(--white);
}

.menu label img {
  width: 35px;
}
.menuBotton:checked ~ .navContainer {
  right: 0;
}

/*Banner*/
.bannerContainer {
  display: flex;
  flex-direction: column;
}
.titleContainer {
  order: 2;
  position: relative;
}
.titleContainer h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--color1);
  margin: 20px 0;
  line-height: 5rem;
}
.btnContant {
  background-color: var(--color2);
  color: var(--white);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: -40px;
  right: 15%;
  visibility: hidden;
}
.sliderContainer {
  order: 1;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*About*/
.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.aboutDescription p {
  margin-bottom: 30px;
  text-align: center;
}

/*Services*/

.cards-container {
  background-color: var(--color1);
  padding: 40px 0 80px;
}
.cards-container h2 {
  color: var(--white);
  /*margin-bottom: 40px;*/
}
.cards-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flip-container {
  background-color: transparent;
  width: 80%;
  height: 340px;
  border: 1px solid var(--color1);
  perspective: 1000px;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.front h3 {
  font-size: var(--body2);
  margin-top: 20px;
}
.front p,
.back p {
  font: var(--body3);
}
.front {
  background-color: var(--color1);
  color: var(--white);
}

.back {
  /*padding: 0 20px;*/
  background-color: var(--color1);
  color: var(--white);
  transform: rotateY(180deg);
}
.back h3 {
  margin-bottom: 10px;
}
/*Benefits*/
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 768px;
  margin: auto;
}
.cardGeneral {
  text-align: center;
  padding: 15px;
  min-width: 280px;
  max-width: 300px;
}

/*FAQs*/
.faqsContainer {
  margin: auto;
  min-width: 320px;
  max-width: 768px;
}

.faqsTitle {
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  outline: none;
  color: var(--white);
  background: var(--color2);
  margin: 0;
  cursor: pointer;
  font: var(--button);
  text-align: left;
}
.faqsDescription {
  display: none;
  margin: 0;
  padding: 16px 19px 24px;
  font: var(--body4);
}
/*whyus*/
.whyusContainer {
  background-color: var(--color3);
}
.cardGeneral.cardwhyus {
  background-color: var(--white);
  color: var(--black);
}
.cardwhyus {
  box-shadow: 0 0 8px var(--color1);
  border-radius: 10px;
}
.cardwhyus h3 {
  margin: 10px 0;
}
/*mini carousel*/
.miniCarousel {
  margin: 50px 0;
}
.carouselContent {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.carouselContent::-webkit-scrollbar {
  height: 5px;
}
.carouselContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--light-grey);
}

.carouselContent::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey);
  outline: none;
  border-radius: 10px;
}

.imgContainer {
  text-align: center;
  scroll-snap-align: center;
  margin: 0px 35px;
  min-width: 110px;
}

.imgContainer p {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
}
/*contact*/

.instructionsContainer {
  background-color: var(--color3);
}
.instructionsContainer h2 {
  font: var(--headLine4);
}
.instructionsInfo {
  margin-bottom: 25px;
}
.instructionsContainer {
  font: var(--body3);
}
.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.instruction div:first-child {
  width: 40px;
}
.instruction div:last-child h4 {
  font: var(--body2);
}
.instruction div:last-child p {
  font: var(--caption);
}
.formContainer {
  text-align: center;
  background-color: var(--color1);
}
input,
textarea {
  background-color: var(--white);
  color: var(--color1);
  font: var(--body4);
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px;
  border: 0;
  outline: none;
}
input {
  height: 40px;
  padding-left: 10px;
}

textarea {
  padding-top: 5px;
}
.submit {
  width: 50%;
}
#mailto {
  visibility: hidden;
}
/*Provider*/

/*footer*/
footer {
  background-color: var(--color4);

  color: var(--black);
}
.footerBrand {
  text-align: center;
  padding: 40px 20px;
}
.footerBrand img {
  width: 20%;
}
.infoFooterContainer {
  padding: 0 20px;
}

.addressContainer {
  margin: 0 auto 50px;
}
.rrssContainer {
  margin: auto;
}
.addressContainer h3,
.rrssContainer h3 {
  font: var(--headLine5);
  text-align: center;
}

.itemFooter {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.itemFooter div,
.itemFooter div a {
  display: flex;
  color: var(--black);
}

.itemFooter div img {
  margin-right: 10px;
}

.firmContainer {
  background-color: var(--color1);
  color: var(--white);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Media*/
@media screen and (min-width: 768px) {
  .brand {
    width: 20%;
  }
  .menu {
    width: 80%;
  }

  .front img {
    width: 70%;
  }
  .contactContainer {
    padding: 40px;
    display: flex;
  }
  .instructionsContainer,
  .formContainer {
    width: 50%;
  }

  .addressContainer,
  .rrssContainer {
    width: 50%;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1024px) {
  header {
    max-width: 1366px;
    background-color: var(--color1);
  }
  .menu label {
    display: none;
  }
  .navContainer {
    position: static;
    top: 0;
    width: 100%;
  }

  .menuDropdown {
    background-color: var(--color1);
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    height: 60px;
  }
  .menuContainer {
    height: 60px;
    width: 100%;
    top: 0;
    background: transparent;
  }
  .menuItem {
    padding: 0 10px;
    line-height: 2rem;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }
  .menuItem:hover {
    background-color: var(--white);
  }
  .menuItem:hover ~ .menuLink {
    color: var(--color1);
  }
  .menuLink {
    color: var(--white);
  }
  .bannerContainer {
    margin: 50px 0;
    flex-direction: row;
  }
  .titleContainer,
  .sliderContainer {
    width: 50%;
  }
  .titleContainer {
    padding: 20px;
    align-self: center;
  }
  .titleContainer h1 {
    text-align: left;
    font-size: 5rem;
    line-height: 6rem;
    margin: 0;
  }
  .btnContant {
    visibility: visible;
  }
  .aboutContainer {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
  }
  .aboutDescription,
  .aboutImg {
    width: 50%;
  }
  .aboutDescription p {
    font-size: 2.5rem;
    line-height: 3.4rem;
  }
  .cards-content {
    flex-direction: row;
    gap: 30px;
    padding: 0 20px;
  }

  .front img {
    width: 100%;
  }
  .instructionsContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 40px 100px;
  }
  .quotesContainer {
    padding: 60px 40px;
  }
  .carouselContent {
    justify-content: center;
  }
}
